<!--- if @feed.present?-->
<!--  p Filtering feed: #{@feed}-->

<!--.mb-3= reverse_pagination @paginator-->

<!--- if @paginator.records.present?-->
<!--  - if @paginator.has_next_pages?-->
<!--    .jumbotron.jumbotron--small-padding-->
<!--      h4= link_to "Go to next page (#{(@paginator.page + 1)})", request.GET.merge(page: (@paginator.page + 1))-->
<!--  - @paginator.records.each do |item|-->
<!--    .jumbotron.jumbotron--small-padding-->
<!--      - if item.title.present?-->
<!--        h3 = item.title.html_safe-->
<!--      .mt-1= link_to item.link, item.link-->
<!--      .mt-3= item.pub_date-->
<!--      .mt-3= raw item.description.html_safe-->
<!--  - if @paginator.has_previous_pages?-->
<!--    .jumbotron.jumbotron--small-padding-->
<!--      h4= link_to "Go to previous page (#{(@paginator.page - 1)})", request.GET.merge(page: (@paginator.page - 1))-->

<!--- else-->
<!--  | No records found.-->

<!--= reverse_pagination @paginator-->

<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-8">
      <div class="row">
        <% @scoped.each do |item| %>
          <div class="col-sm-6" style="border-bottom-style: ridge;">
            <h4 class="pt-20">
              <b><%= link_to item.title.html_safe, item_path(item), target: '_blank' %></b>
            </h4>
            <ul class="list-li-mr-20 pt-10 mb-30">
              <li class="color-lite-black">by <a href="#" class="color-black"><b>Olivia Capzallo,</b></a>
                <%= item.pub_date.strftime("%B %d, %Y") %></li>
              <li><i class="color-primary mr-5 font-12 ion-ios-bolt"></i>30,190</li>
              <li><i class="color-primary mr-5 font-12 ion-chatbubbles"></i>47</li>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
